@media only screen and (min-width: 900px) {
  #article1,
  #article2,
  #article3,
  #article4,
  #article5 {
    margin-bottom: 10em;
  }
  #article5{
    height: 500px;
  }
  #map{    
    height: 500px;
  }
}
